[user]
    email = gregory.danielson3@gmail.com
	name = Gregory Danielson
	signingkey = Gregory Danielson III
[pull]
	rebase = false
; [commit]
; 	gpgsign = true
[init]
	defaultBranch = main
[core]
	editor = nvim
	excludesFile = ~/.config/git/gitignore
[push]
	autoSetupRemote = true
[merge]
    tool = nvimdiff

[url "https://github.com/"]
        insteadOf = gh:
[url "git@github.com:"]
        pushInsteadOf = "gh:"

[url "https://gitlab.com/"]
        insteadOf = gl:
[url "git@gitlab.com:"]
        pushInsteadOf = "gl:"

[url "https://aur.archlinux.org/"]
        insteadOf = aur:
[url "aur@aur.archlinux.org:"]
        pushInsteadOf = "aur:"
