# ignoring subdirectories 
*/*

# my repos
git
public_html

# junk and histories
.python_history
.bash_history
.zsh_history
.viminf*
.fehbg
.install4j
.zcompdump-Zendikar-5.7.1


# NEVER EVER ADD
.Xauthority
.esd_auth

