# ignoring subdirectories 
*/*

# my repos
git
public_html

# junk
.viminf*
.fehbg
.install4j
.zcompdump*
NTUSER*
.dbshell
.mongorc.js
.steampath
.steampid
.pulse-cookie
*.png

# histories
.psql_history
.units_history
.lesshst
.wget-hsts
.python_history*
.bash_history
.zsh_history

# NEVER EVER ADD
.Xauthority
.aws
.esd_auth
random.dat
.gitconfig
