Xft.dpi:       212
Xft.antialias: true
Xft.hinting:   false
Xft.rgba:      rgb
Xft.autohint:  false 
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

XTerm*background:        #222D31
XTerm*foreground:        #d8d8d8
XTerm*pointerColor:      #1ABB9B
XTerm*faceName:          Fixed
XTerm*faceSize:          11
XTerm*reverseVideo:      on
XTerm*selectToClipboard: true

! *background:                      #222D31
! *foreground:                      #d8d8d8
*fading:                          8
*fadeColor:                       black
*cursorColor:                     #1ABB9B
*pointerColorBackground:          #2B2C2B
*pointerColorForeground:          #16A085


! Navy and Ivory, dotshare.it
! URxvt.foreground: 	#E8DFD6
! URxvt.background: 	#021B21
! URxvt.cursorColor:  #2E3340
! URxvt.color0:       #032C36
! URxvt.color8:       #065F73
! URxvt.color1:       #C2454E
! URxvt.color9:       #EF5847
! URxvt.color2:       #7CBF9E
! URxvt.color10:      #A2D9B1
! URxvt.color3:       #8A7A63
! URxvt.color11:      #BEB090
! URxvt.color4:       #2E3340
! URxvt.color12:      #61778D
! URxvt.color5:       #FF5879
! URxvt.color13:      #FF99A1
! URxvt.color6:       #44B5B1
! URxvt.color14:      #9ED9D8
! URxvt.color7:       #F2F1B9
! URxvt.color15:      #F6F6C9

! sexcolors, dotshare.it
*background: #000000
!black
*color0:    #252525
*color8:    #454545
!red
*color1:    #FF9F95
*color9:    #FF8D80
!green
*color2:    #A6E22E
*color10:   #B6E354
!yellow
*color3:    #FD971F
*color11:   #FD971F
!blue
*color4:    #435e87
*color12:   #587aa4
!magenta
*color5:    #789ec6
*color13:   #46a4ff
!cyan
*color6:    #5E7175
*color14:   #A3BABF
!white
*color7:    #DBDCDC
*color15:   #FDFDFD


! URxvt*borderColor:        #151515
! URxvt*colorBD:            #ffffff
! URxvt*cursorColor:        #ff8939
! URxvt*cursorColor2:       #151515

Xcursor.theme: Adwaita
Xcursor.size:		0

URxvt*font:         	xft:xos4 Terminus:pixelsize=36:style=Medium, \
						xft:Symbols Nerd Font
URxvt*boldFont:			xft:xos4 Terminus:pixelsize=36:style=Bold, \
						xft:Symbols Nerd Font
URxvt*italicFont:   	xft:xos4 Terminus:pixelsize=36:style=Italic, \
						xft:Symbols Nerd Font
URxvt*boldItalicFont:	xft:xos4 Terminus:pixelsize=36:style=Bold Italic, \
						xft:Symbols Nerd Font

URxvt.letterSpace:	0

URxvt.depth:                      32
URxvt*scrollBar:                  false
URxvt*mouseWheelScrollPage:       false
URxvt*cursorBlink:                true
URxvt*background:                 black
URxvt*foreground:                 grey
URxvt*saveLines:                  5000

! for 'fake' transparency (without Compton) uncomment the following three lines
URxvt*inheritPixmap:            false
URxvt*transparent:              true
URxvt*shading:                  40

! Normal copy-paste keybindings without perls
URxvt.iso14755:                   false
URxvt.keysym.Shift-Control-V:     eval:paste_clipboard
URxvt.keysym.Shift-Control-C:     eval:selection_to_clipboard
!Xterm escape codes, word by word movement
URxvt.keysym.Control-Left:        \033[1;5D
URxvt.keysym.Shift-Control-Left:  \033[1;6D
URxvt.keysym.Control-Right:       \033[1;5C
URxvt.keysym.Shift-Control-Right: \033[1;6C
URxvt.keysym.Control-Up:          \033[1;5A
URxvt.keysym.Shift-Control-Up:    \033[1;6A
URxvt.keysym.Control-Down:        \033[1;5B
URxvt.keysym.Shift-Control-Down:  \033[1;6B
