/* Keyframes */

@keyframes blink-critical {
  to {
    /*color: @white1;*/
    background-color: @critical;
  }
}

/* hard */
@define-color hdblack  #1d2021;
@define-color hdwhite #f9f5d7;

@define-color black0  #282828;
@define-color black1 #3c3836;
@define-color black4 #7c6f64;

@define-color white0  #fbf1c7;
@define-color white1  #ebdbb2;
@define-color white4  #a89984;

/* neutral */
@define-color red  #cc241d;
@define-color green  #98971a;
@define-color yellow  #d79921;
@define-color blue  #458588;
@define-color purple  #b16286;
@define-color aqua  #689d6a;
@define-color orange  #d65d0e;
@define-color gray  #928374; 

/* bright */
@define-color brred  #fb4934;
@define-color brgreen  #b8bb26;
@define-color bryellow  #fabd2f;
@define-color brblue  #83a598;
@define-color brpurple  #d3869b;
@define-color braqua  #8ec07c;
@define-color brorange  #fe8019;
@define-color brgray  @white4;

/* faded */
@define-color fdred  #9d0006;
@define-color fdgreen  #79740e;
@define-color fdyellow  #b57614;
@define-color fdblue  #076678;
@define-color fdpurple  #8f3f71;
@define-color fdaqua  #427b58;
@define-color fdorange  #af3a03;
@define-color fdgray  @black4;

@define-color missing #ff00ff;

/* aliases */
@define-color bg  @black1;
@define-color fg  @white1;

@define-color warning   @bryellow;
@define-color critical  @brred;

@define-color invisible  @black1;
@define-color active  @white1;
@define-color visible  @gray;


@define-color title @black1;
@define-color workspaces  @white1;
@define-color taskbar  @white1;
@define-color tray  @black1;

@define-color network  @blue;

@define-color cpu  @gray;
@define-color temp  @gray;
@define-color memory  @gray;
@define-color disk  @gray;

@define-color sound  @gray;
@define-color source  @gray;

@define-color date  @black1;
@define-color time  @black1;
@define-color language  @yellow;
@define-color battery  @aqua;
@define-color beattime  @blue;

@define-color docker  @blue;
@define-color tailscale  @gray;
@define-color ssh @green;

@define-color backlight  @gray;
@define-color utctime  @missing;
@define-color weather @missing;

/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 28px;
  min-width: 12px;
  margin: 0px;
  margin-top: -2px;
  margin-bottom: -2px;
  padding: 0px;
  box-shadow: none;
  text-shadow: 1px 1px 0px @hdblack;
  -gtk-icon-shadow: none;
}

/* The whole bar */
#waybar {
  background: alpha(@bg, 0.6);
  color: @missing;
  font-family: Terminess Nerd Font;
  font-size: 18px;
}

/* Each module */
#battery,
#clock,
#cpu,
#language,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray,
#backlight,
#idle_inhibitor,
#disk,
#user,
#mpris,
#taskbar,
#window,
#workspaces,
#custom-beattime,
#custom-docker,
#custom-tailscale,
#custom-weather,
#custom-utc,
#custom-ssh
{
  padding-left: 8pt;
  padding-right: 8pt;
}

/* Each critical module */
#mode,
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical.discharging {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: blink-critical;
  animation-duration: 1s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning.discharging {
  color: @warning;
}

#workspaces button,
#taskbar button {
  padding-left: 0;
  background: @invisible;
  color: @fg;
}

#workspaces button.visible,
#taskbar button.visible {
  background: @visible;
  color: @fg;
}

#workspaces button.active,
#taskbar button.active {
  background: @active;
  color: @bg;
}
/* TODO: wtf */
#workspaces button.active *,
#taskbar button.active * {
  text-shadow: none;
}

/* Contains an urgent window */
#workspaces button.urgent {
  background: @warning;
  color: @fg;
}

#window {
  background: @title;
  color: @fg;
}

#pulseaudio {
  background: @sound;
  color: @fg;
}

#pulseaudio.source {
  background: @source;
  color: @fg;
}

#network {
  background: @network;
  color: @fg;
}

#memory {
  background: @memory;
  color: @fg;
}

#cpu {
  background: @cpu;
  color: @fg;
}

#disk {
  background: @disk;
  color: @fg;
}

#temperature {
  background: @temp;
  color: @fg;
}

#language {
  background: @language;
  color: @fg;
}

#battery {
  background: @battery;
  color: @fg;
}

#backlight {
  background: @backlight;
  color: @fg;
}

#tray {
  background: @tray;
  color: @fg;
}

#taskbar {
  background: @bg;
  color: @fg;
}

#clock.date {
  background: @date;
  color: @fg;
  /* font-weight: bold; */
}

#clock.time {
  background: @time;
  color: @fg;
  font-weight: bold;
}

#custom-beattime {
  background: @beattime;
  color: @fg;
}

#custom-docker {
  background: @docker;
  color: @fg;
}

#custom-tailscale {
  background: @tailscale;
  color: @fg;
}

#custom-utc {
  background: @utc;
  color: @fg;
}
#custom-ssh {
  background: @ssh;
  color: @fg;
}
